/* Reset some default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Apply styles to the body */
body {
  font-family: 'Inter', sans-serif; /* Modern and clean font */
  background-color: #0f0f0f; /* Dark background color */
  color: #ffffff; /* Light text color */
  line-height: 1.6;
}

/* Style the container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background-color: #1a1a1a; /* Darker background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  position: relative;
}

/* Style the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #292929; /* Header background color */
  color: #ffffff; /* Light text color */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

header img {
  max-width: 100%;
}

/* Style the navigation menu */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav li {
  font-weight: bold;
  text-transform: uppercase;
}

/* Style the main heading */
h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #bb86fc; /* Accent color */
}

/* Style the form section */
form {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffffff; /* Light text color */
}

input[type="file"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #6200ea; /* Web3-inspired color */
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #512da8; /* Darker shade on hover */
}

/* Style the compressed image section */
#compressed-image-container {
  display: none;
  margin-top: 30px;
}

#compressed-image {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Additional styles for buttons and links */
.cta-button {
  background-color: #bb86fc; /* Accent color */
  color: #0f0f0f; /* Dark background */
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s;
  display: inline-block;
}

.cta-button:hover {
  background-color: #3700b3; /* Darker accent color on hover */
}

a {
  color: #bb86fc; /* Accent color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
